<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
<div class="container-fluid">
    <div class="'page-header text-center">
        <h1><span class="fa fa-thumbs-o-up"></span> Your BATSIGNAL has been sent!</h1>
        <a href="/logout" class="btn btn-default btn-sm"><i class="fa fa-sign-out">Log out</i></a>
    </div>
    <br>
    <div class="confirmation">
        <img class= "center-block" src="images/bat_signal.jpg" alt="Batsignal" style="width:350px; height:300px"/>
    </div>
    <br>
    <div class="text-center">
        <a href="/batsignal" class="btn btn-warning"><i class="fa fa-bullhorn"> Send Batsignal</i></a>
        <a href="/profile" class="btn btn-primary"><i class="fa fa-user-secret"> BAT-Profile</i></a>
    </div>



</div>
</body>
</html>